:root {
    --project-blue: #08a6e4;
    --project-red: #FB3B64;
    --project-mint: #55DFB4;
    --project-black: #000000;
    --projct-dark-grey: #707070;
    --project-grey: #95989A;
    --project-light-gray: #A5A5A5;
    --projct-white: #ffffff;

}